div#Kalenteri{
	margin: 0px auto;
	padding: 0px;
	width:602px:
	font-family:Helvetica, "Times New Roman", Times, serif;
}

div#Kalenteri div.box{
	position: relative;
	top:0px;
	left:0px;
	width:100%;
	height: 40px;
	background-color: #8b8ab5;
}

div#Kalenteri div.header{
	line-height: 40px;
	vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;   
    text-align:center;
}

div#Kalenteri div.header a.prev,div#Kalenteri div.header a.next{
	position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color: #59579c;
}
div#Kalenteri div.header span.title{
	color: #59579c;
	font-size:18px;
}
div#Kalenteri div.header a.prev{
	left:0px;
}
div#Kalenteri div.header a.next{
	right:0px;
}

/*Kalenterin sisällön solut..*/
div#Kalenteri div.box-content{
	border: 1px solid #4c4c4c ;
	border-top:none;
}

div#Kalenteri ul.label{
	float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}

div#Kalenteri ul.label li{
	    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}

div#Kalenteri ul.dates{
	float:left;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
}

div#Kalenteri ul.dates li{
	margin: 0px;
	padding: 0px;
	margin-right: 5px;
	margin-top: 5px;
	line-height: 80px;
	vertical-align: middle;
	float: left;
	list-style-type: none;
	width: 80px;
	height: 80px;
	font-size: 25px;
	background-color: #b7b7b7;
	color: #000;
	text-align: center;
}

:focus{
	outline: none;
}
div.clear{
	clear:both;
}

